@import "tailwindcss";
@import "../font/Nunito/nunito.css";
@import "./source/latty.css";

/*@import "./semantic/button.css";
@import "./semantic/card.css";
@import "./semantic/section.css";
@import "./semantic/article.css";
@import "./semantic/markup.css";
@import "./semantic/nav.css";
@import "./semantic/main.css";
@import "./semantic/sheet.css";*/

@import "./source/shadcn4.css";

@layer base {
  * {
      @apply border-border outline-ring/90;
  }
  body {
      @apply bg-background text-foreground;
      font-family: 'Nunito', system-ui, -apple-system, sans-serif;
  }
  .main-layout {
    @apply grid grid-cols-3 gap-6;
  }
  .main-content {
    @apply col-span-3 md:col-span-2;
  }
  .section-content__muted {
    @apply w-full py-12 px-6 bg-muted rounded-md mb-12;
  }
  .sidebar {
    @apply col-span-3 md:col-span-1;
  }
  .text-center-py-4 {
    @apply text-center py-4;
  }
  .text-sm {
    @apply text-sm;
  }
  button,
  .button {
      @apply cursor-pointer; 
  }
  .site-logo {
    @apply inline-block;
  }
  
  .site-logo__container {
    @apply flex items-center gap-2;
  }
  
  .site-logo__icon {
    @apply text-sky-500;
  }
  
  .site-logo__text {
    @apply text-lg font-bold;
  }
}